*{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
//html,
//body{
//  height: 100%;
//}
//body{
//  display: flex;
//  flex-direction: column;
//}
//.main{
//  flex-grow: 1;
//}
.container{
  max-width: 1428px;
  margin: 0px auto;
  padding: 0px 20px;
}